<mat-card-actions class="note-footer">
    <div class="tooltip">
      <button mat-icon-button matTooltip="Remind me">
        <mat-icon>add_alert_outline</mat-icon>
      </button>
    </div>
    <div class="tooltip" >
      <button mat-icon-button matTooltip="Collaborator" (click)="openDialog()">
        <mat-icon>person_add_outline</mat-icon>
      </button>
    </div>
    <div class="tooltip">
      <button mat-icon-button matTooltip="Change Color">
        <mat-icon>palette_outline</mat-icon>
      </button>
    </div>
    <div class="tooltip">
      <button mat-icon-button matTooltip="Add Image">
        <mat-icon>image_outline</mat-icon>
      </button>
    </div>
    <div class="tooltip">
      <button mat-icon-button matTooltip="Archive">
        <mat-icon>archive_outline</mat-icon>
      </button>
    </div>
    <div class="tooltip">
      <button mat-icon-button matTooltip="More">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-actions>
