.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: whitesmoke;
    position: absolute; /* Use absolute positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element */
    width: 400px;
    height: auto;
    // margin: 0px 35% 0px 35%;
    margin: 0; /* Remove margins since it's now centered using transform */
  }
  
.main h1 {
    text-transform: uppercase;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}
.input {
    width: 100%;
    margin-bottom: 15px;
}
.main button{
    width: 100%;
    margin-bottom: 15px;
}