<mat-sidenav 
  #sidenav 
  mode="side" 
  [opened]="true" 
  [ngClass]="{ 'app-sidenav-collapsed': isSidenavCollapsed, 'app-sidenav-expanded': !isSidenavCollapsed }">
  <mat-nav-list>
    <mat-list-item 
      routerLink="/notes"
      [ngClass]="{'active': activeItem === 'notes'}"
      (click)="setActive('notes')">
      <mat-icon matListIcon>lightbulb_outline</mat-icon>
      <span matLine>Notes</span>
    </mat-list-item>
    <mat-list-item 
      routerLink="/reminders"
      [ngClass]="{'active': activeItem === 'reminders'}"
      (click)="setActive('reminders')">
      <mat-icon matListIcon>notifications_none</mat-icon>
      <span matLine>Reminders</span>
    </mat-list-item>
    <mat-list-item 
      routerLink="/edit"
      [ngClass]="{'active': activeItem === 'edit'}"
      (click)="setActive('edit')">
      <mat-icon matListIcon>edit</mat-icon>
      <span matLine>Edit labels</span>
    </mat-list-item>
    <mat-list-item 
      routerLink="/archive"
      [ngClass]="{'active': activeItem === 'archive'}"
      (click)="setActive('archive')">
      <mat-icon matListIcon>archive</mat-icon>
      <span matLine>Archive</span>
    </mat-list-item>
    <mat-list-item 
      routerLink="/trash"
      [ngClass]="{'active': activeItem === 'trash'}"
      (click)="setActive('trash')">
      <mat-icon matListIcon>delete</mat-icon>
      <span matLine>Trash</span>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>
